<%= form_with(model: customer, local: true) do |f| %>

  <div>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <br>

  <div>
    <%= f.label :email %><br>
    <%= f.email_field :email %>
  </div>

  <br>
   <div>
    <%= f.label :PhoneNumber %><br>
    <%= f.text_field :phone_number%>
  </div>

  <br>
   <div>
    <%= f.label :Date_of_birth %><br>
    <%= f.date_field :date_of_birth %>
  </div>

  <br>

  <div>
    <%= f.label :about_me %><br>
    <%= f.rich_text_area :about_me %>
  </div>

  <br>

  <div>
    <%= f.label :profile_photo %><br>
    <%= f.file_field :profile_photo %>
  </div>

  <br>


  <div>
    <%= f.submit %>
  </div>

<% end %>
