<%= form_with model: product do |f| %>

  <div style="margin-bottom:18px;">
    <label style="font-weight:600; color:#361134;">Name</label>
    <%= f.text_field :name, style: "
      width:100%;
      padding:12px 14px;
      border-radius:10px;
      border:1.5px solid #f87171;
      box-sizing:border-box;
      outline:none;
    " %>
  </div>

 
  <div style="margin-bottom:18px;">
    <label style="font-weight:600; color:#361134;">Description</label>
    <%= f.text_area :description, rows: 4, style: "
      width:100%;
      padding:12px 14px;
      border-radius:10px;
      border:1.5px solid #f87171;
      box-sizing:border-box;
      resize:vertical;
      outline:none;
    " %>
  </div>

 
  <div style="margin-bottom:18px;">
    <label style="font-weight:600; color:#361134;">Price</label>
    <%= f.number_field :price, style: "
      width:100%;
      padding:12px 14px;
      border-radius:10px;
      border:1.5px solid #f87171;
      box-sizing:border-box;
      outline:none;
    " %>
  </div>


  <div style="margin-bottom:18px;">
    <label style="font-weight:600; color:#361134;">Stock</label>
    <%= f.number_field :stock, style: "
      width:100%;
      padding:12px 14px;
      border-radius:10px;
      border:1.5px solid #f87171;
      box-sizing:border-box;
      outline:none;
    " %>
  </div>


  <div style="margin-bottom:24px; display:flex; align-items:center; gap:10px;">
    <%= f.check_box :is_active %>
    <label style="font-weight:600; color:#361134;">Is active</label>
  </div>


 <div style="text-align:center;">
  <%= f.submit(
    product.persisted? ? "Update Product" : "Create Product",
    style: "
      background:#EA3788;
      color:white;
      padding:12px 28px;
      border-radius:999px;
      border:none;
      font-weight:600;
      cursor:pointer;
    "
  ) %>
</div>

<% end %>
