<%= form_with model: product, local: true do |f| %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name, style: "width:100%; padding:6px;" %>
  </p>

  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description, rows: 3, style: "width:100%; padding:6px;" %>
  </p>

  <p>
    <%= f.label :price %><br>
    <%= f.number_field :price, step: 0.01, style: "width:100%; padding:6px;" %>
  </p>

  <p>
    <%= f.label :stock %><br>
    <%= f.number_field :stock, style: "width:100%; padding:6px;" %>
  </p>

  <p>
    <%= f.check_box :is_active %>
    <%= f.label :is_active %>
  </p>

  <%= f.submit %>

<% end %>
