<div style="

  padding: 18px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.08);
">

  <div style="display: flex; justify-content: space-between;">
    <strong style="font-size: 16px;"><%= product.name %></strong>

    <span style="color: <%= product.is_active ? 'green' : 'red' %>;">
      <%= product.is_active ? "Active" : "Inactive" %>
    </span>
  </div>

  <p style="margin: 6px 0; color: #555;">
    <%= product.description %>
  </p>

  <p style="margin: 6px 0;">
    ₹ <%= product.price %><br>
    Stock: <%= product.stock %>
  </p>

  <p style="margin-top: 8px;">
    <%= link_to "View", product %> |
    <%= link_to "Edit", edit_product_path(product) %> |
    <%= link_to "Delete", product,
          method: :delete,
          data: { confirm: "Are you sure?" },
          style: "color:red;" %>
  </p>


</div>
